name: Build

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version to publish"
        required: true

jobs:
  build:
    runs-on: windows-latest
    environment: publish
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Setup Environment
        uses: ./.github/actions/setup-environment

      - name: Update Cargo.toml
        run: |
          cargo set-version ${{ github.event.inputs.version }}
          cargo update --workspace

      - name: Build Page
        uses: ./.github/actions/prepare-resources

      - name: Build project
        run: |
          cargo build --release

      - name: Prepare release
        shell: bash
        run: |
          bundle exec rake release[${{ github.event.inputs.version }}]
          cp ./release/CHANGELOG.md ./CHANGELOG.md

      - name: Commit version change
        run: |
          git config --local user.name "GitHub Actions"
          git config --local user.email "actions@github.com"
          git add Cargo.toml Cargo.lock CHANGELOG.md
          git commit -m "release: v${{ github.event.inputs.version }}"

      - name: Login to crates.io
        uses: rust-lang/crates-io-auth-action@v1
        id: crates-io-auth
      - name: Publish to crates.io
        run: |
          cargo publish --workspace
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.crates-io-auth.outputs.token }}

      - name: Push Tag
        run: |
          git push

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.inputs.version }}
          body_path: "./release/README.md"
          files: |
            ./release/aviutl2-rs-v*.au2pkg.zip
            ./release/*.*2
            ./release/THIRD_PARTY_NOTICES.md
