name: Check

on:
  push:
    branches:
      - main
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  check:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Setup Environment
        uses: ./.github/actions/setup-environment

      - name: Build Page
        uses: ./.github/actions/prepare-resources

      - name: Check format
        run: |
          bundle exec rake check_format

      - name: Run lint
        run: |
          bundle exec rake lint

      - name: Run test
        run: |
          choco install ffmpeg
          bundle exec rake test
