name: Preview Documentation

on:
  pull_request:  # TODO: pull_request_targetにする
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Setup Environment
        uses: ./.github/actions/setup-environment

      - name: Build documentation
        run: |
          rake doc

      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.WORKERS_TOKEN }}
          command: versions upload --preview-alias pr-${{ github.event.number }}


