name: Deploy Documentation Preview

on:
  workflow_run:
    workflows: ["Build Documentation Preview"]
    types:
      - completed

jobs:
  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.pull_requests.length > 0 }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download artifact
        uses: actions/download-artifact@v5
        with:
          name: preview-doc
          path: ./target/doc/
          github-token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.event.workflow_run.repository.full_name }}
          run-id: ${{ github.event.workflow_run.id }}

      - name: Read PR number
        id: read-pr-number
        run: |
          PR_NUMBER="${{ github.event.workflow_run.pull_requests[0].number }}"
          echo "PR_NUMBER=$PR_NUMBER" >> $GITHUB_OUTPUT

      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.WORKERS_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          wranglerVersion: "latest"
          command: versions upload --preview-alias pr-${{ steps.read-pr-number.outputs.PR_NUMBER }}

      - name: Comment preview link
        uses: thollander/actions-comment-pull-request@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          comment-tag: preview-link
          pr-number: ${{ steps.read-pr-number.outputs.PR_NUMBER }}
          message: |
            プレビューがデプロイされました：
            https://pr-${{ steps.read-pr-number.outputs.PR_NUMBER }}-aviutl2-rs-doc.sevenc7c.workers.dev

            更新時点でのコミット： ${{ github.event.pull_request.head.sha }}
