name: Deploy Documentation Preview

on:
  workflow_run:
    workflows: ["Build Documentation Preview"]
    types:
      - completed

jobs:
  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v5
        with:
          name: preview-doc
          path: ./target/doc/
          github-token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.event.workflow_run.repository.full_name }}
          run-id: ${{ github.event.workflow_run.id }}

      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.WORKERS_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          wranglerVersion: "latest"
          command: versions upload --preview-alias pr-${{ github.event.number }}

      - name: Comment preview link
        uses: thollander/actions-comment-pull-request@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          comment-tag: preview-link
          message: |
            プレビューがデプロイされました：
            https://pr-${{ github.event.number }}-aviutl2-rs-doc.sevenc7c.workers.dev

            更新時点でのコミット： ${{ github.event.pull_request.head.sha }}
